<% include layout/header %>

		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách sản phẩm</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách sản phẩm</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
            <a href="/admin/product/add" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">ID</th>
						        <th data-field="name"  data-sortable="true">Tên sản phẩm</th>
                                <th data-field="price" data-sortable="true">Giá</th>
                                <th>Ảnh sản phẩm</th>
                                <th>Trạng thái</th>
                                <th>Danh mục</th>
                                <th>Hành động</th>
						    </tr>
                            </thead>
                            <tbody>
                                    <% for(key in data.products){ %>
                                    <tr>
                                        <td style=""><%=data.products[key].prd_id%></td>
                                        <td style=""><%=data.products[key].prd_name%></td>
                                        <td style=""><%=data.products[key].prd_price%></td>
                                        <td style="text-align: center"><img width="130" height="180" src="/static/images/products/<%=data.products[key].prd_image%>" /></td>
                                        <td><span class="label label-<%if(data.products[key].prd_status==1){%>success<%} else{%>danger<%}%>"><%if(data.products[key].prd_status==1){%>
                                        Còn hàng
                                        <%} else{%>Hết hàng<%}%>
                                        </span></td>
                                        <td><%=data.products[key].cat_name%></td>
                                        <td class="form-group">
                                            <a href="/admin/product/edit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="/admin/product/list" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    <%}%>
                                 </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="/admin/product/list?page=<%=data.page_prev%>">&laquo;</a></li>
                                <%for(i=1; i<=data.number_page; i++){%>
                                <li class="page-item"><a class="page-link" href="/admin/product/list?page=<%=i%>"><%=i%></a></li>
                                <%}%>
                                <li class="page-item"><a class="page-link" href="/admin/product/list?page=<%=data.page_next%>s">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<script src="/static/theme/admin/js/jquery-1.11.1.min.js"></script>
	<script src="/static/theme/admin/js/bootstrap.min.js"></script>
    <script src="/static/theme/admin/js/bootstrap-table.js"></script>	

<% include layout/footer %>
